{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="twelve wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.frontend_dashboard') }}">
                <i class="caret left icon"></i>
                Back to frontend administrator dashboard
            </a>  
 	
			<a class="ui right floated green button" href="{{ url_for('page.add_page') }}">
                <i class="caret right icon"></i>
                Add New Page
            </a> 
            <h2 class="ui header">
               Manage Page 
                <div class="sub header">
                    View and manage page shown on the front landing page.
                </div>
            </h2>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Images</th>
                        <th>Is on Navbar</th>
                        <th>Is on Frontpage</th>
                        <th>Is on Landingpage</th>
                        <th>Sign in required</th>
                        <th>Google Analytics</th>
                        <th>Other Analytics</th>
                        <th>Other Analytics</th>
                        <th>Other Analytics</th>
                        <th>Other Analytics</th>
                        <th>HTML</th>
                        <th>HTML</th>
                        <th>HTML</th>
                        <th>HTML</th>
                        <th class="sorted ascending">Created At</th>
                        <th>Last Update</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages.items | sort(attribute='created_at') %}
                        <tr>
                            <td>{{ page.name}}</td>
                            <td>{{ page.title }}</td>
                            <td>{{ page.description }}</td>
                            <td>{{ page.image }}</td>
                            <td>{{ page.is_onnavbar }}</td>
                            <td>{{ page.is_frontpagevisible}}</td>
                            <td>{{ page.is_landingpage }}</td>
                            <td>{{ page.signin_required }}</td>
                            <td>{{ page.google_analytics_id }}</td>
                            <td>{{ page.other_tracking_analytics_one}}</td>
                            <td>{{ page.other_tracking_analytics_two }}</td>
                            <td>{{ page.other_tracking_analytics_three }}</td>
                            <td>{{ page.other_tracking_analytics_four }}</td>
                            <td>{{ page.html_code_one}}</td>
                            <td>{{ page.html_code_two }}</td>
                            <td>{{ page.html_code_three }}</td>
                            <td>{{ page.html_code_four }}</td>
                            <td>{{ page.created_at }}</td>
                            <td>{{ page.updated_at }}</td>
                            <td>
                                <a class="ui blue left floated button" style="margin-top: 1px" href="{{ url_for('page.edit_page', page_id=page.id) }}">Edit</a>							
							</td>
                            <td>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="/page/{{page.id}}/_delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in pages.iter_pages() %}
                        {% if page %}
                            {% if page != pages.page %}
                                <a class="item" href="{{ url_for('page.pages', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        <form method="POST" action="{{ url_for('page.delete_page', page_id=0) }}" id="delete-page-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeletePage(page_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this page",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-page-form");
                        form.attr('action', "{{ url_for('page.delete_page', page_id=0) }}".replace('0',page_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
