{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{# url_for('admin.frontend_dashboard') #}">
                <i class="caret left icon"></i>
                Back to Frontend Dashboard
            </a>
            <h2 class="ui header">
                Add New Web Page
                <div class="sub header">Add a new page</div>
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            <div class="field">
                {{ f.render_form_field(form.name) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.title) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.description) }}
            </div>
            <div class="field">
                {# f.render_form_field(form.images) #}
            </div>
                <div class="ui small image" style="flex-grow: 0">
                    <img src="{{url}}">
                </div>

            <div class="four fields">
                {{ f.render_form_field(form.is_onnavbar) }}
                {{ f.render_form_field(form.is_frontpagevisible) }}
                {{ f.render_form_field(form.is_landingpage) }}
                {{ f.render_form_field(form.signin_required) }}
            </div>

            <div class="field">
                {{ f.render_form_field(form.html_code_one) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.html_code_two) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.html_code_three) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.html_code_four) }}
            </div>						
            <div class="field">
                {{ f.render_form_field(form.other_tracking_analytics_one) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.other_tracking_analytics_two) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.other_tracking_analytics_three) }}
            </div>
            <div class="field">
                {{ f.render_form_field(form.other_tracking_analytics_four) }}
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form() }}

        </div>
    </div>
{% endblock %}
