{% extends 'layouts/base.html' %}

{% block content %}

        <div class="ui container">
            <a class="ui basic compact button" href="{{ url_for('admin.frontend_dashboard') }}">
                <i class="caret left icon"></i>
                Back to Administrator dashboard
            </a>  
 	
		<a class="ui right floated green button" href="{{ url_for('programme.add_programme') }}">
                <i class="caret right icon"></i>
                Add New Programme
            </a> 
            <h2 class="ui header">
               Manage Programmes Added 
                <div class="sub header">
                    View and manage programmes shown on the front landing page.
                </div>
            </h2>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>Segment</th>
                        <th>Programme Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>						
                        <th>Video</th>
                        <th>Banner Image</th>
                        <th>Banner Displayed</th>
                        <th class="sorted ascending">Created At</th>
                        <th>Last Update</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for programme in programmes.items | sort(attribute='created_at') %}
                        <tr>

                            <td>{{ programme.segment }}</td>
                            <td>{{ programme.description }}</td>
                            <td>{{ programme.start_time }}</td>
                            <td>{{ programme.end_time }}</td>
                            <td>{{ programme.video }}</td>
                            <td>{{ programme.banner }}</td>
                            <td>{{ programme.banner_displayed }}</td>
                            <td>{{ programme.created_at }}</td>
                            <td>{{ programme.updated_at }}</td>
                            <td>
                                <!--<a class="ui blue left floated button" style="margin-top: 1px" href="{# url_for('programme.edit_programme', programme_id=programme.id) #}">Edit</a>	---->						
							</td>
                            <td>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="/programme/{{programme.id}}/_delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in programmes.iter_pages() %}
                        {% if page %}
                            {% if page != programmes.page %}
                                <a class="item" href="{{ url_for('programme.programmes', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>



        <form method="POST" action="{{ url_for('programme.delete_programme', programme_id=0) }}" id="delete-programme-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteTeam(programme_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this programme",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-programme-form");
                        form.attr('action', "{{ url_for('programme.delete_programme', programme_id=0) }}".replace('0',programme_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
