{% extends 'layouts/base.html' %}



{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">

            <h2 class="ui header">
                Show
                <div class="sub header"><p> Please kindly upload your background banner image. </p>
                </div>
            </h2>
		
			
				<iframe src="/static/videos/{{ video.name }}" allow="autoplay" id="audio" ></iframe>
			


				<iframe src='https://22e4e77c9a2a.ngrok.io/stream ' style='border:0'></iframe>	
				
				<iframe scrolling="auto" allowtransparency="true" name="main" style="width:100%;height:90%;background-image:url('static/images/{{ banner.image_filename}})"> </iframe>



<iframe width="560" height="315" src="http://localhost:5000/stream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
{% endblock %}