{% extends 'layouts/blank_base.html' %}


{% block content %}


<!-- ========================= SECTION HEADER ========================= -->
<header class="main-header fixed-top">
    <nav class="navbar navbar-light bg-white border-bottom navbar-expand justify-content-between flex-column flex-lg-row">

        <a href="#" class="navbar-brand">
		{% if logo.image_file_name %}
		<img src="{{ url_for('static', filename='frontend/images/logo.png') }}" class="logo" height="36">
		{% else %}	
		<h2 class="section-title">{{appname.name}}</h2>
		{% endif %}	      
		</a>

        <div class="navbar-top-wrap">
        <ul class="nav nav-header">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="developer.html">Developer Kit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="designer.html">Design Kit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="templates.html">Templates</a>
          </li>
          <li class="nav-item">
	     <a class="nav-link" target="_blank"  href="ecommerce-mobile-html/index-presentation.html">Mobile 
	     <span class="badge badge-danger">New</span></a>
	   </li>
           <li class="nav-item">
            <a class="nav-link" href="doc.html">Doc</a>
          </li>
        </ul>
        </div>
	{% if organisation.org_industry == "Restaurant" %}
        <div>
            <a class="btn btn-light d-none d-lg-inline-block" data-toggle="modal" href="{{ url_for('account.register') }}"> Register </a>
            <a class="btn btn-primary d-none d-lg-inline-block" href="{{ url_for('account.login') }}">Login</a>
        </div>
	{% elif organisation.org_industry == "Ecommerce" %}
        <div>
            <a class="btn btn-light d-none d-lg-inline-block" data-toggle="modal" href="{{ url_for('account.register') }}"> Register </a>
            <a class="btn btn-primary d-none d-lg-inline-block" href="{{ url_for('account.login') }}">Login</a>
        </div>
	{% elif organisation.org_industry == "Startup" %}
        <div>
            <a class="btn btn-light d-none d-lg-inline-block" data-toggle="modal" href="{{ url_for('account.register') }}"> Register </a>
            <a class="btn btn-primary d-none d-lg-inline-block" href="{{ url_for('account.login') }}">Login</a>
        </div>
	{% elif organisation.org_industry == "Event Organizer" %}
        <div>
            <a class="btn btn-light d-none d-lg-inline-block" data-toggle="modal" href="{{ url_for('account.register') }}"> Register </a>
            <a class="btn btn-primary d-none d-lg-inline-block" href="{{ url_for('account.login') }}">Login</a>
        </div>
	{% elif organisation.org_industry == "Small Business" %}
        <div>
            <a class="btn btn-light d-none d-lg-inline-block" data-toggle="modal" href="{{ url_for('account.register') }}"> Register </a>
            <a class="btn btn-primary d-none d-lg-inline-block" href="{{ url_for('account.login') }}">Login</a>
        </div>
	{% else %}	
    {% endif %}
    </nav>
</header>
<!-- ========================= SECTION HEADER END // ========================= -->

	{% if marketing.id is not none %}

    <section class="section-intro">
        <div class="container">
            <div class="row">
                <aside class="col-md-6">
                    <h1 class="title-intro">  
						{{ marketing.marketing_title }}
                    </h1>
					<h5 class="title">{{ marketing.marketing_description }}</h5>

                    <p style="max-width: 80%">
                        <span class="doc-tag">{{ marketing.marketing_tag_one }}</span> <span class="doc-tag">{{ marketing.marketing_tag_two }}</span> <span class="doc-tag">{{ marketing.marketing_tag_three }}</span> <span class="doc-tag">{{ marketing.marketing_tag_four }}</span>
						
                    </p>
					{% if marketing.marketing_button_one %}
					<a class="btn {% if marketing.marketing_icon_one_color %}btn-button_one_color{% elif marketing.button_one_color %}{{ marketing.button_one_color }}{% else %}btn-light{% endif %} d-none d-lg-inline-block" data-toggle="modal" href="{{ marketing.marketing_button_one_url }}"> {{ marketing.marketing_button_one }} </a>
						{% else %}	
						{% endif %}
					{% if marketing.marketing_button_two %}
					<a class="btn {% if marketing.marketing_icon_two_color %}btn-button_two_color{% elif marketing.button_two_color %}{{ marketing.button_two_color }}{% else %}btn-light{% endif %} d-none d-lg-inline-block" data-toggle="modal" href="{{ marketing.marketing_button_two_url }}"> {{ marketing.marketing_button_two }} </a>						{% else %}	
						{% endif %}
					{% if marketing.marketing_button_three %}
					<a class="btn {% if marketing.marketing_icon_three_color %}btn-button_three_color{% elif marketing.button_three_color %}{{ marketing.button_three_color }}{% else %}btn-light{% endif %} d-none d-lg-inline-block" data-toggle="modal" href="{{ marketing.marketing_button_three_url }}"> {{ marketing.marketing_button_three }} </a>
						{% else %}	
						{% endif %}
					{% if marketing.marketing_button_four %}
					<a class="btn {% if marketing.marketing_icon_four_color %}btn-button_four_color{% elif marketing.button_four_color %}{{ marketing.button_four_color }}{% else %}btn-light{% endif %} d-none d-lg-inline-block" data-toggle="modal" href="{{ marketing.marketing_button_four_url }}"> {{ marketing.marketing_button_four }} </a>
						{% else %}	
						{% endif %}
                </aside>
                <aside class="col-md-6">
                    <img src="{{ url_for('static', filename='frontend/images/main.png') }}" class="img-intro" alt="e-commerce design templates kit">
                </aside>
            </div>
        </div> <!-- container.// -->
    </section>
	{% else %}	
    {% endif %}	


    <!-- ========================= SECTION FEATURES END// ========================= -->
	
	
	{% if service.id is not none %}

    <section class="section-features padding-y-lg">
        <div class="container">

            <div class="row mb-5">
			                   {% for appt in service %}
                <div class="col-md-3">
                    <figure class="item-feature">
                        <i class="{{ appt.service_icon }}" style="font-size:60px;color:{{ appt.service_icon_color }};"></i>
                        <h5 class="title">{{ appt.service_name }}</h5>
                        <p>{{ appt.service_intro }}</p>
                    </figure>
                </div>
				{% endfor %}
            </div> <!-- row.// -->


            <br>

        </div> <!-- container .//  -->
    </section>
	{% else %}	
    {% endif %}	
    <!-- ========================= SECTION Services END// ========================= -->	
   <section class="padding-bottom-lg">
        <div class="container">

            <header class="section-heading text-center">
                <h2 class="section-title">For designers</h2>
                <p>Well organized layers and symbol based</p>

                <div class="">
                    <span class="ml-3"><img width="24" height="24" class="mr-2" src="{{ url_for('static', filename='frontend/images/icons/sketch.png') }}" title="Sketch icon">Sketch</span>
                    <span class="ml-3"><img width="24" height="24" class="mr-2" src="{{ url_for('static', filename='frontend/images/icons/figma.png') }}" alt="figma icon">Figma (soon)</span>
                </div>
            </header><!-- sect-heading -->

            <div class="window">
                <div class="window-header">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                </div>
                <div class="window-body">
                    <article class="canvas bg-white">
                        <img src="{{ url_for('static', filename='frontend/images/design/System.jpg') }}">
                    </article>

                    <article class="canvas bg p-2">
                        <img src="{{ url_for('static', filename='frontend/images/design/Cart.jpg') }}"> alt="website headers">
                    </article>

                    <article class="canvas bg p-2">
                        <img src="{{ url_for('static', filename='frontend/images/design/Listing-large.jpg') }}">
                    </article>
                </div>
            </div> <!-- window.// -->

            <div class="text-center relative" style="margin-top: -26px;">
                <a href="designer.html" class="btn btn-light btn-lg rounded-pill shadow">Explore all components <img src="{{ url_for('static', filename='frontend/images/icons/sketch.png') }}" class="icon"></a>
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION FEATURES END// ========================= -->



    <section class="padding-bottom-lg">
        <div class="container">

            <header class="section-heading text-center">
                <h2 class="section-title">For developers</h2>
                <p>Included FontAwesome, InterUI webfont, Sliders, jQuery… <br>
                    <span>Semantic and clean code made with Bootstrap 4 CSS framework</span>
                </p>

                <div class="">
                    <span class="ml-3"><img width="24" height="24" class="mr-2" src="{{ url_for('static', filename='frontend/images/icons/bootstrap.png') }}">Bootstrap 4.3 </span>
                    <span class="ml-3"><img width="24" height="24" class="mr-2" src="{{ url_for('static', filename='frontend/images/icons/semantic.png') }}">Semantic UI (soon)</span>
                </div>
            </header><!-- sect-heading -->


            <div class="row no-gutters">
                <aside class="col-md-6">
                    <div class="window" style="border-top-right-radius: 0; ">
                        <div class="window-header">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <div class="window-body">
                            <img src="{{ url_for('static', filename='frontend/images/misc/files.jpg') }}" style="max-width: 500px; mix-blend-mode: multiply;">
                        </div>
                    </div> <!-- window.// -->
                </aside>
                <aside class="col-md-6">
                    <div class="window window-code" style="border-top-left-radius: 0;">
                        <div class="window-body">
                            <img src="{{ url_for('static', filename='frontend/images/misc/code.png') }}" style="max-width: 520px;">
                        </div>
                    </div>
                </aside>
            </div> <!-- row.// -->


            <div class="text-center relative" style="margin-top: -26px;">
                <a href="developer.html" class="btn btn-light btn-lg shadow rounded-pill">View HTML components <img class="icon" src="{{ url_for('static', filename='frontend/images/icons/bootstrap.png') }}"> </a>
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION FEATURES END// ========================= -->





    <section class="bg padding-y">
        <div class="container">

            <header class="section-heading  text-center">
                <h2 class="section-title">With starter templates</h2>
                <p>Ready to use for your next project. All necessary files included </p>
            </header><!-- sect-heading -->


            <div class="row">
                <div class="col-md-4">
                    <figure class="card card-template">
                        <div class="img-wrap">
                            <img src="{{ url_for('static', filename='frontend/images/screenshots/starter1.jpg') }}">
                        </div>
                        <figcaption class="card-body" title="Bootstrap 4 homepage template for e-commerce" alt="Home template design">
                            Home page samples
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <figure class="card card-template">
                        <div class="img-wrap">
                            <img src="{{ url_for('static', filename='frontend/images/screenshots/starter4.jpg') }}" title="Bootstrap 4 template listing page" alt="Html template listing">
                        </div>
                        <figcaption class="card-body">
                            Listing pages
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <a href="templates.html" class="card card-template">
                        <div class="img-wrap">
                            <img src="{{ url_for('static', filename='frontend/images/screenshots/more.jpg') }}"
                        </div>
                        <figcaption class="card-body">
                            10+ starter layouts
                        </figcaption>
                    </a>
                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>




    <section class="padding-y">
        <div class="container">
            <div class="row mx-auto mt-5" style="max-width: 1020px;">
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title  mb-0">100+ components</h6>
                            <p>Updating always</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title  mb-0">Easy to customize</h6>
                            <p>Super simple</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title  mb-0">100+ icons</h6>
                            <p>Icon system</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title  mb-0">Responsive</h6>
                            <p>Mobile friendly</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title mb-0">Webfonts</h6>
                            <p>InterUI, Roboto</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                <div class="col-md">
                    <figure class="text-center">
                        <img src="{{ url_for('static', filename='frontend/images/icons/circle.svg') }}" width="35" height="35">
                        <figcaption class="mt-3">
                            <h6 class="title mb-0">Templates</h6>
                            <p>Starter layouts</p>
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            </div> <!-- row.// -->

        </div> <!-- container .//  -->
    </section>




    <section class="padding-bottom-lg relative">
        <div class="container">

            <header class="section-heading  text-center">
                <h2 class="section-title">Download all together</h2>
                <p>Updated on Nov 2019</p>
            </header><!-- sect-heading -->

            <div class="card-deck justify-content-center">
                <figure class="card card-price">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='frontend/images/icons/sketch.png') }}" class="icon-app">
                        <h5 class="title">For Designers</h5>
                        <p>
                            Design system <br>
                            Components <br>
                            Templates
                        </p>
                        <a href="designer.html" class="btn btn-outline-primary btn-lg shadow-sm">Design Bundle</a>
                    </div>
                </figure>
                <figure class="card card-price">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='frontend/images/icons/html.png') }}" class="icon-app">
                        <img src="{{ url_for('static', filename='frontend/images/icons/bootstrap.png') }}" class="icon-app">
                        <h5 class="title">For Developers</h5>
                        <p>
                            HTML/CSS/SASS files <br>
                            Scripts <br>
                            Layout samples
                        </p>
                        <a href="developer.html" class="btn btn-outline-primary btn-lg shadow-sm">Developer Bundle</a>
                    </div>
                </figure>
            </div> <!-- row.// -->

        </div> <!-- container .//  -->

    </section>

    <section class="bg padding-y">
        <div class="container">
            <header class="section-heading  text-center">
				{% if testimonialsection.section_name %}
                <h2 class="section-title">{{testimonialsection.section_name}}</h2>
				{% else %}
				{% endif %}
				{% if testimonialsection.section_description %}
                <p>{{ testimonial.section_description }} </p>
								{% else %}
				{% endif %}
            </header><!-- sect-heading -->

			<div class="row">
				<div class="col-md-4">
					<article class="card card-body">
						<figure class="itemside">
							<div class="aside">
								<span class="icon-sm rounded-circle bg-success">
									<i class="fa fa-truck white"></i>
								</span>
							</div>
							<figcaption class="info">
								<h6 class="title">Quick delivery</h6>
								<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labor </p>
							</figcaption>
						</figure> <!-- iconbox // -->
					</article> <!-- panel-lg.// -->
				</div><!-- col // -->
			</div>
        </div> <!-- container .//  -->
    </section>

{% endblock %}