{% extends 'layouts/base.html' %}
{% block page_title %}{{ appt.title or '(No Title)' }} opportunity in {{ appt.city|default('') }}{% endblock %}
{% block custom_head_tags %}
    <meta name="summary"
          content="{{ appt.summary }}">
    <meta name="author" content="{{ config.APP_NAME }}">
    <meta name="og:title" content="{{ appt.title or '(No Title)' }}, {{ config.APP_NAME }} "/>
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://www.{{ config.APP_NAME }}.com"/>
    <meta name="og:image" content="{{ url_for('static', filename='images/home/slider/hill.png') }}"/>
    <meta name="og:site_name" content="{{ config.APP_NAME }}"/>
    <meta name="og:summary"
          content="{{ appt.summary }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@medivillenetwork"/>
    <meta name="twitter:creator" content="@anioko1"/>
{% endblock %}
{% block content %}
    <div class="ui sixteen column centered grid">
        <div class="row edit-controls" align="center">
        </div>
        <div class="ui sixteen wide column created_opportunity">
            <h1>{{ appt.title or '(No Title)' }}</h1>
            {{ share.load() }}
            <h3><i class="marker icon"></i> {{ appt.city|default('') }},{{ appt.country|default('') }}
            </h3>

            <div class="ui two column centered grid">
                <div class="column">
                    <hr>
                    <h4>opportunity summary</h4><!---I took out |default('')|markdown here---->
                    {{ appt.summary }}
                    {{ share.create(title='Share with: ') }}
                    <hr>
                </div>
            </div>
    </div>

    <div class="ui two column centered grid">
        <div class="column">
            <!--<div style="text-align:center;" class="row btn-group">-->

            <a href="http://www.facebook.com/sharer.php?u={{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country, _external=True) }}"
               title="On Facebook" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-facebook fa-2x"></i>
            </a>

            <a href="http://www.facebook.com/sharer.php?u={{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country, _external=True) }}"
               title="On Facebook" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-facebook fa-2x"></i>
            </a>

            <a href="https://twitter.com/intent/tweet?url={{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country, _external=True) }}&via=Teachera&text={{ appt.title }}%20-%20Mediville.com!&hashtags={{ appt.title }},{{ appt.city }}"
               title="On Twitter" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-twitter fa-2x"></i>
            </a>


            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country, _external=True) }}&title={{ appt.title }} in {{ appt.city }}&summary=Mediville.com!&source=http://Mediville.com"
               title="On LinkedIn" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>

            <a href="http://vk.com/share.php?url={{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country, _external=True) }}&title={{ appt.title }} in {{ appt.city }}&summary=Mediville.com!&image=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg"
               title="On VK.com" target="_blank" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-vk fa-2x"></i>
            </a>

            <a data-toggle="modal" href="#share-email-modal" class="btn btn-default" style="margin-right:-10px;">
                <i class="fa fa-share-alt fa-2x"></i>
            </a>
        </div>
    </div>

    </div>
    </div>


    <style>
        body {

            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 1.42857;
        }

        .applicants table {
            font-size: 1.2em;
            color: #1C3766;
        }

        .created_opportunity {
            font-family: 'Lato', sans-serif;
            color: #1C3766;
        }

        .created_opportunity h1 {
            font-size: 4em;
            font-weight: 600;
        }

        .created_opportunity h2 {
            font-size: 2.5em;
            font-weight: 400;
        }

        .created_opportunity h3 {
            font-size: 1.6em;
            margin: 10px 0 15px 0;
            font-weight: 500;
        }

        .created_opportunity h4 {
            font-size: 1.6em;
            font-weight: bold;
        }

        .created_opportunity p,
        .created_opportunity li {
            font-size: 1.3em;
        }

        .created_opportunity a {
            color: #5B6C7E;
            text-decoration: none;
            -webkit-transition: color .3s;
            -o-transition: color .3s;
            transition: color .3s;
            font-weight: 500;
            border-bottom: 2px solid;
        }

        .created_opportunity a:hover {
            color: #EC5805;
            text-decoration: none;
        }

        .created_opportunity h1,
        .created_opportunity h2,
        .created_opportunity h3 {
            text-align: center;
        }

        .created_opportunity .requirements ul li {
            opportunity: relative;
            text-transform: uppercase;
            font-weight: 500;
        }

        .organisation_details {
            padding: 60px 15px 10px 15px;
        }

        .share {
            padding-bottom: 40px;
        }

        @media (max-width: 768px) {
            .created_opportunity h1 {
                font-size: 2.7em;
            }

            .created_opportunity h2 {
                font-size: 2em;
            }

            .created_opportunity h3 {
                font-size: 1.4em;
            }
        }

    </style>
{% endblock %}
{% block scripts %}
    <script>
        jQuery(function ($) {
            $('form[data-async] #emailSaveBtn').click(function (event) {
                var $form = $(this);
                var $target = $($form.attr('data-target'));

                $.ajax({
                    type: 'POST',
                    url: '/some-endpoint',
                    data: {
                        email: $('#email').val(),
                        url: '{{ url_for('opportunity.opportunity_details',title=appt.title,city=appt.city,state=appt.state, country=appt.country,_external=True) }}',
                        title: '{{appt.course_title}} in {{appt.city}}',
                    },

                    success: function (data, status) {
                        console.log("success");
                        $('#share-email-modal').modal('hide');
                        $('#share-email-modal').modal('hide');
                    }

                });
                $('#share-email-modal').modal('hide');

                event.preventDefault();
            });
        });
        $('#share-email-modal').on('hidden.bs.modal', function (e) {
            $('#share-email-modal').modal('hide');
        })
    </script>
{% endblock %}