<!DOCTYPE HTML>
<html lang="en">
<head>
{% block meta_tags %}

{% endblock %}
        {# include 'partials/_landing_page_head.html' #}
	<title>{% block title %}{{config.APP_NAME}}{% endblock %}</title>
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {# block custom_head_tags #}{# endblock #}



<!---font awesome --->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Copy of bootstrap-ecormerce.com files-->
<link href="{{ url_for('static', filename='ecommerce/css/style.css') }}" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('static', filename='ecommerce/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{{ url_for('static', filename='ecommerce/js/jquery-2.0.0.min.js') }}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{{ url_for('static', filename='ecommerce/js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='ecommerce/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{{ url_for('static', filename='ecommerce/fonts/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{{ url_for('static', filename='ecommerce/css/ui.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='ecommerce/css/responsive.css') }}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{{ url_for('static', filename='ecommerce/js/script.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>


 {% include 'partials/ecommerce/_header.html' %}


    {% block content %}{% endblock %}
    {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
    {% endif %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->



</body>
</html>