{% extends 'layouts/enno_base.html' %}
{% import 'macros/product_enno_macros.html' as products_macros %}
{% block meta_tags %}
	<meta charset="UTF-8">
	<meta name="description" content="{{appt.org_description}} ">
	<meta name="keywords" content="{{appt.org_short_description}}">
	<meta name="author" content="{{appt.org_name}} ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}
 {{appt.org_short_description}} 
{% endblock %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"> {{appt.org_name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
		 {# if about.id is not none #}
          <li><a href="#about">About</a></li>
		  {# else #}
		  {# endif #}
		 {% if services.id is not none %}
          <li><a href="#services">Services</a></li>
		  {% else %}
		  {% endif %}
		 {% if products.availability is true %}
          <li><a href="#portfolio">Portfolio</a></li>
		  {% else %}
		  {% endif %}
		 {% if team.id is not none %}
          <li><a href="#team">Team</a></li>
		  {% else %}
		  {% endif %}
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('public.contact') }}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->
  
 		 {% if appt.id is not none %}
   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Elegant and creative solutions</h1>
          <h2>We are team of talanted designers making websites with Bootstrap</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero --> 
		  {% else %}
		  {% endif %} 


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
				{% if services.id is not none %}
				{% for appt in services %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx {{ appt.service_icon }}"></i></div>
              <h4><a href="">{{ appt.service_name }}</a></h4>
              <p>{{ appt.service_intro }}</p>
            </div>
          </div>
		  {% endfor %}
		  {% else %}
		  {% endif %}

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
		{% if testimonialsection is not none %}
          <span>{{ testimonialsection.section_name }}</span>
          <h2>{{ testimonialsection.section_name }}</h2>
          <p>{{ testimonialsection.section_description }}</p>
		  {% else %}
		  {% endif %}
        </div>
        <div class="owl-carousel testimonials-carousel">
		  {# for appt in testimonial #}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
			{{ appt.description}}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="http://localhost:5000/static/images/{{ appt.image}}" class="testimonial-img" alt="">
            <h3>{{ appt.person_name}}</h3>
            <h4>{{ appt.job_title}}</h4>
          </div>
		  {% if testimonialsection.id is not none %}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
		  {% else %}
		  {% endif %}
		  {# endfor #}
        </div>
      </div>
    </section><!-- End Testimonials Section -->
	
<section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" style="position: relative; height: 1483.61px;">
                {% for product in products %}
                    {{ products_macros.product_wid(product) }}
                {% endfor %}		
        </div>

      </div>
    </section>	
{% if call2action.id is not none %}
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>{{ call2action.action_title}}</h3>
          <p> {{ call2action.description}}</p>
          <a class="cta-btn" href="{{ call2action.call2action_url}}">Register</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
			  		  {% else %}
		  {% endif %}

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
		{% if teamsection.id is not none %}
          <span>{{ teamsection.section_name }}</span>
          <h2>{{ teamsection.section_name }}</h2>
          <p>{{ teamsection.section_description }}</p>
		  {% else %}
		  {% endif %}
        </div>

        <div class="row">
		{% if team.id is not none %}
		  {% for appt in team %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="http://localhost:5000/static/images/{{ appt.image}}" alt="">
              <h4>{{ appt.name}}</h4>
              <span>{{ appt.job_title}}</span>
              <p>
			{{ appt.job_description}}
              </p>
              <div class="social">
                <a href="https://twitter.com/{{ appt.team_member_twitter}}"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/{{ appt.team_member_facebook}}"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/{{ appt.team_member_instagram}}"><i class="icofont-instagram"></i></a>
                <a href="https://linkedin.com/{{ appt.team_member_linkedin}}"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
		  {% endfor %}
		  {% else %}
		  {% endif %}
        </div>

      </div>
    </section><!-- End Team Section -->
	

{% endblock %}