{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui container">

        <div class="twelve wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.frontend_dashboard') }}">
                <i class="caret left icon"></i>
                Back to Frontend dashboard
            </a>

			<a class="ui right floated green button" href="{{ url_for('organisation.edit_org', org_id=org.id) }}">
                <i class="caret right icon"></i>
                Edit Organization
            </a> 			

            <h2 class="ui header">
               Manage 
            </h2>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>Organisation Name</th>
                        <th class="sorted ascending">Created At</th>
                       <th>Organisation Type</th>
                       <th>City</th>
                       <th>State</th>
                       <th>Country</th>
                       <th>State</th>
                        <th>Tagline</th>
                       <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for org in orgs.items | sort(attribute='created_at') %}
                        <tr>

                            <td>{{ org.org_name }}</td>
                            <td>{{ org.org_industry }}</td>
                            <td>{{ org.org_city }}</td>
                            <td>{{ org.org_state }}</td>
                            <td>{{ org.org_country }}</td>
                            <td>{{ org.org_short_description }}</td>
                            <td>{{ org.org_description }}</td>
                            <td>{{ org.created_at }}</td>
                            <td>{{ org.updated_at }}</td>
                            <td>
                                <a class="ui blue left floated button" style="margin-top: 1px" href="{{ url_for('organisation.edit_org', org_id=org.id) }}">Edit</a>
                            </td>
                            <td>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('organisation.delete_org', org_id=org.id) }}" onclick="return confirmDeleteOrg('{{ org.id | tojson }}');" data-content="{{ org.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in orgs.iter_pages() %}
                        {% if page %}
                            {% if page != orgs.page %}
                                <a class="item" href="{{ url_for('organisation.orgs', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        <form method="POST" action="{{ url_for('organisation.delete_org', org_id=0) }}" id="delete-org-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteOrg(org_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this org",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-org-form");
                        form.attr('action', "{{ url_for('organisation.delete_org', org_id=0) }}".replace('0',org_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
