{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
                        <div class="four wide column">
        </div>
        <div class="twelve wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.frontend_dashboard') }}">
                <i class="caret left icon"></i>
                Back to Frontend dashboard
            </a>

			<a class="ui right floated green button" href="{{ url_for('organisation.logo_upload') }}">
                <i class="caret right icon"></i>
                	Upload Logo
            </a> 			

            <h2 class="ui header">
               Manage Logo Upload, Edit and Delete
            </h2>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>File Name</th>
                       <th>Storage Location (URL)</th>
                        <th>Created At</th>
                       <th>Updated At</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for logo in logos.items | sort(attribute='created_at') %}
                        <tr>

                            <td>{{ logo.image_filename }}</td>
                            <td>{{ logo.image_url }}</td>
                            <td>{{ logo.created_at }}</td>
                            <td>{{ logo.updated_at }}</td>
                            <td>
                                <a class="ui blue left floated button" style="margin-top: 1px" href="{{ url_for('organisation.edit_logo_upload', logo_id=logo.id) }}">Edit</a>
                            </td>
                            <td>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('organisation.delete_logo', logo_id=logo.id) }}" onclick="return confirmDeleteLogo('{{ logo.id | tojson }}');" data-content="{{ logo.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in logos.iter_pages() %}
                        {% if page %}
                            {% if page != logos.page %}
                                <a class="item" href="{{ url_for('organisation.logos', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        <form method="POST" action="{{ url_for('organisation.delete_logo', logo_id=0) }}" id="delete-logo-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteLogo(logo_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this logo",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-logo-form");
                        form.attr('action', "{{ url_for('organisation.delete_logo', logo_id=0) }}".replace('0',logo_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
