{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="{% if request.endpoint == endpoint %} active {% endif %}item" href="{{ url_for(endpoint) }}">
        <i class="{{ icon }}"></i>{{ title }}
    </a>
{% endmacro %}
<div class="ui vertical fluid tabular menu">
    {{ dashboard_option('Home', 'admin.index',
                                    description='Admin Home', icon='home icon') }}
        <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        Market Place
        <div class="menu">
            <div class="header">Market Place</div>
            {{ dashboard_option('Home', 'admin.marketplace_index',
                                    description='Marketplace Home', icon='home icon') }}
            {% include 'admin/marketplace/partials/nav.html' %}

        </div>
    </div>
    <div class="ui dropdown item">
        <i class="dropdown icon"></i>
        Blog Management
        <div class="menu">
            <div class="header">Blog Management</div>
            {{ dashboard_option('Home', 'admin.marketplace_index',
                                    description='Marketplace Home', icon='home icon') }}
            {% include 'admin/blog/partials/nav.html' %}

        </div>
    </div>
    {{ dashboard_option('Registered Users', 'admin.registered_users',
                                    description='View and manage user accounts', icon='users icon') }}



</div>
