  <!-- Favicons -->
  <link href="static/bootstrapmade.com/dewi/assets/img/favicon.png" rel="icon">
  <link href="static/bootstrapmade.com/dewi/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/bootstrapmade.com/dewi/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/owl.carousel/"static/bootstrapmade.com/dewi/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/bootstrapmade.com/dewi/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/bootstrapmade.com/dewi/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Dewi - v2.1.0
  * Template URL: https://static/bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Author: BootstrapMade.com
  * License: https://static/bootstrapmade.com/license/
  ======================================================== -->
  
  
    <!-- Vendor JS Files -->
  <script src="static/bootstrapmade.com/dewi/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/bootstrapmade.com/dewi/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/bootstrapmade.com/dewi/assets/js/main.js"></script>
