{% extends 'layouts/ecommerce/blank_ecommerce_base.html' %}
{% block content %}
<header class="section-header">
<section class="header-main border-bottom">
<nav class="navbar navbar-main navbar-expand-lg navbar-light">
<div class="container">
{% if logo is not none %}
  <a class="navbar-brand" href="#"><img src="{{ logo.image_url }}" class="logo"></a>
{% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav2">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" href="#"> Home </a></li>
	{% for appt in section %}
	{% if appt.section_name == "jumbotron" %}
	{% else %}
		<li class="nav-item"><a class="nav-link" href="#{{ appt.section_name }}"> {{ appt.section_name }} </a></li>
	{% endif %}
	{% endfor %}
  </ul>
	  <a href="{{ url_for('account.login') }}" class="ml-md-3 btn btn-secondary">Login</a>
	  <a href="{{ url_for('account.register') }}" class="ml-md-3 btn btn-light d-none d-lg-inline-block">Register</a>
  </div> <!-- navbar-collapse.// -->
</div> <!-- container.// -->
</nav>
</header> <!-- section-header.// -->
</section> <!-- header-main .// -->
		{% if categories %}
<nav class="navbar navbar-expand-md navbar-main border-bottom">
  <div class="container">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown6">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="dropdown6">
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="/categories"> All categories</a>
		          <div class="dropdown-menu">
		          </div>
		        </li>
				{% for appt in categories %}
		        <li class="nav-item"> <a class="nav-link" href="page-deal.html">{{ appt.name }}</a>
				</li>

									{% endfor %}
		      </ul>
	   </div> <!-- collapse .// -->
  </div> <!-- container .// -->
  {% endif %}
  


</nav>

</header>
<!-- ========================= SECTION  FEATURES ======================= -->

{% if products %}
<section class="section-content">
<div class="container">

<header class="section-heading">
	<h3 class="section-title">Featured products</h3>
</header><!-- sect-heading -->

	
<div class="row">
{% for appt in products %}
	<div class="col-md-3">
		<div href="#" class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="/static/images/{{ appt. }}"> </a>
			<figcaption class="info-wrap">
				<a href="#" class="title">{{appt.name }}</a>
				<div class="price mt-1">{{ appt.price_currency }}{{ appt.price }}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>
  {% endif %}

{% for appt in section %}
{% if appt.section_name == "Services" %}

<section class="section-content padding-y bg">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="my-0">{{ appt.section_name }}</h1>
      <p>{{ appt.section_description }}</p>
    </div>


<div class="row">
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-primary"><i class="fa fa-user white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div><!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-danger"><i class="fa fa-truck white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-success"><i class="fa fa-star white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-secondary"><i class="far fa-clock white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
</div>

</div> <!-- container .//  -->
</section>
{% else %}
{% endif %}
{% endfor %}
<!-- ========================= SECTION  END// ======================= -->


<!-- ========================= SECTION  FEATURES ======================= -->

{% for appt in section %}
{% if appt.section_name == "Features" %}

<section class="section-content padding-y bg">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="my-0">{{ appt.section_name }}</h1>
      <p>{{ appt.section_description }}</p>
    </div>


<div class="row">
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-primary"><i class="fa fa-user white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div><!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-danger"><i class="fa fa-truck white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-success"><i class="fa fa-star white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
<div class="col-md-3">
	<article class="card card-body">
		<figure class="text-center">
			<span class="rounded-circle icon-md bg-secondary"><i class="far fa-clock white"></i></span>
			<figcaption class="pt-4">
			<h5 class="title">Creative Strategy &amp; solution</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</article> <!-- panel-lg.// -->
</div> <!-- col // -->
</div>

</div> <!-- container .//  -->
</section>
{% else %}
{% endif %}
{% endfor %}
<!-- ========================= SECTION  END// ======================= -->


<!-- ========================= SECTION  ========================= -->
<!----<section class="section-name padding-y">
<div class="container">

<h3 class="mb-3">Download app demo text</h3>

<a href="#"><img src="ecommerce/images/misc/appstore.png" height="40"></a>
<a href="#"><img src="ecommerce/images/misc/appstore.png" height="40"></a>

</div><!-- container // -->
<!----</section>---->
<!-- ========================= SECTION  END// ======================= -->
<!-- ========================= PRICING SECTION ======================= -->

{% for appt in section %}
{% if appt.section_name == "Pricing" %}

<section class="section-content padding-y bg">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="my-0">{{ appt.section_name }}</h1>
      <p>{{ appt.section_description }}</p>
    </div>


<!-- ============================ COMPONENT PRICING 1  ================================= -->
<div class="card-deck mb-3 text-center">
        <div class="card">
          <div class="card-header">
            <h5 class="my-0">Free</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <a href="#" class="btn  btn-block btn-outline-primary">Sign up for free</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="my-0">Pro</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <a href="#" class="btn  btn-block btn-primary">Get started</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="my-0">Enterprise</h5>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary">Contact us</a>
          </div>
        </div>
</div> <!-- card-deck.// -->

<!-- ============================ COMPONENT PRICING 1 END .// ================================= -->

<br><br>


</div> <!-- container .//  -->
</section>
{% else %}
{% endif %}
{% endfor %}
<!-- ========================= SECTION  END// ======================= -->
<!-- ========================= SECTION  TESTIMONIAL ======================= -->


{% for appt in section %}
{% if appt.section_name == "Testimonials" %}

<section class="section-content padding-y bg">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="my-0">{{ appt.section_name }}</h1>
      <p>{{ appt.section_description }}</p>
    </div>
<!-- ============================ TESTIMONIAL  ================================= -->
<div class="box">
	
	<div class="icontext align-items-start mr-4" style="max-width: 300px;">
		<span class="icon icon-md rounded-circle bg-primary">
			<i class="fa fa-user white"></i>
		</span>
		<div class="text">
			<h6 class="title">Mr. John Doe</h6>
			<p class="text-muted">Some description like Lorem ipsum dolor sit amet.</p>
		</div>
	</div> <!-- iconbox // -->

	<div class="icontext align-items-start mr-4" style="max-width: 300px;">
		<span class="icon icon-md rounded-circle border border-primary">
			<i class="fa fa-user text-primary"></i>
		</span>
		<div class="text">
			<h6 class="title">Mr. Ahmed Joe</h6>
			<p class="text-muted">Some description like Lorem ipsum dolor sit amet.</p>
		</div>
	</div> <!-- iconbox // -->

	<div class="icontext align-items-start mr-4" style="max-width: 300px;">
		<img class="icon icon-md rounded-circle" src="bootstrap-ecommerce-html/images/avatars/avatar1.jpg">
		<div class="text">
			<h6 class="title">Mrs. Uzbek Xonim</h6>
			<p class="text-muted">Some description like Lorem ipsum dolor sit amet.</p>
		</div>
	</div> <!-- iconbox // -->

</div>

<!-- ============================ TESTIMONIAL END .// ================================= -->
</div> <!-- container .//  -->
</section>
{% else %}
{% endif %}
{% endfor %}
<!-- ========================= SECTION  END// ======================= -->
<!-- ========================= SECTION  FAQ ======================= -->


{% for appt in section %}
{% if appt.section_name == "Faq" %}
<section class="section-content padding-y bg">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="my-0">{{ appt.section_name }}</h1>
      <p>{{ appt.section_description }}</p>
    </div>


<div class="row">
<div class="card-body">
	<article class="card card-body">
		<header class="filter-header">
			<a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Some heading </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse1" style="">			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor.	</p>
		</div> <!-- collapse -filter-content  .// -->
	</article>
</div><!-- col // -->
</div>

</div> <!-- container .//  -->
</section>
{% else %}
{% endif %}
{% endfor %}
<!-- ========================= SECTION  END// ======================= -->



{% endblock %}
