{% extends 'layouts/ecommerce/blank_ecommerce_base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Setup Site Brand Name</h4></header>
		<form method="POST" action="{{ url_for('account.add_branding') }}">
		  	   {{ form.csrf_token }}
				<div class="form-row">
					<div class="col form-group">
						<label>Brand Name</label>
					  	<input id="name" name="name" class="form-control" placeholder="Brand Name e.g Twitter or Facebook or Microsoft" type="text">
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">

					  <label>Type of organization</label>
					  <select id="org_industry" name="org_industry" class="form-control">
					    <option> Choose...</option>
					      <option>Church</option>
					      <option selected="">Small Business</option>
					      <option>Restaurant</option>
					      <option>Ecommerce</option>
					      <option>Startup</option>
					  </select>

				</div> <!-- form-row.// -->
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Add </button>
			    </div> <!-- form-group// -->                
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}