{% extends 'layouts/ecommerce/blank_ecommerce_base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
      <form method="POST" action="{{ url_for('account.register') }}">
	   {{ form.csrf_token }}
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
					  	<input id="first_name" name="first_name" class="form-control" placeholder="First Name" type="text">
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Last name</label>
					  	<input id="last_name" name="last_name" class="form-control" placeholder="Last Name" type="text">
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					<label>Email</label>
					<input id="email" name="email" class="form-control" placeholder="Email" type="text">
					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
			{% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
				</div> <!-- form-group end.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
						<input id="password" name="password" class="form-control" placeholder="Password" type="password">
									{% for error in form.password.errors %}
							<small class="text-danger">{{ error }}</small>  
						{% endfor %}
					</div> <!-- form-group end.// --> 
					<div class="form-group col-md-6">
						<label>Repeat password</label>
						<input id="password2" name="password2" class="form-control" placeholder="Password" type="password">
									{% for error in form.password2.errors %}
							<small class="text-danger">{{ error }}</small>  
						{% endfor %}
					</div> <!-- form-group end.// -->  
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->      
			    <div class="form-group"> 
		            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
		        </div> <!-- form-group end.// -->           
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}