{% extends 'layouts/ecommerce/blank_ecommerce_base.html' %}
{% from "organisation/_formhelpers.html" import render_field %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT ADD ORGANISATION   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Setup - Account</h4></header>
		<form method="POST" action="{{ url_for('account.start') }}" role="form">
		  	   {{ form.csrf_token }}
								
				<div class="form-row">
					<div class="col form-group">
					{{ render_field(form.role, class='form-control') }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					{{ render_field(form.org_industry, class='form-control') }}
				<div class="form-group">
					{{ render_field(form.name, class='form-control') }}
					</div>
				</div> <!-- form-row.// -->
				<div class="form-row">
							<div class="form-group col-md-6">
							{{ render_field(form.first_name, class='form-control') }}
							</div> <!-- form-group end.// -->
							<div class="form-group col-md-6">
							{{ render_field(form.last_name, class='form-control') }}							
							</div> <!-- form-group end.// -->
						</div>
						
				<div class="form-group">
						{{ render_field(form.email, class='form-control') }}				
						</div>
				<div class="form-row">
							<div class="form-group col-md-6">
							{{ render_field(form.password, class='form-control') }}
							</div> <!-- form-group end.// -->
							<div class="form-group col-md-6">
							{{ render_field(form.password2, class='form-control') }}							
							</div> <!-- form-group end.// -->
						</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Add </button>
			    </div> <!-- form-group// -->                
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}