{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
			<h2 class="ui center aligned icon header">
			  <i class="settings icon"></i>
			  Front Landing Page Sections Management Dashboard
			  <div class="content">
				
				<div class="sub header">Click on these tabs to add or edit sections added to the front landing page website.</div>
			  </div>
			</h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add new', 'section.add_section',
                                    description='Click to add new', icon='bars icon') }}	
                {{ dashboard_option('View and Manage', 'section.sections',
                                    description='View and manage existing info', icon='edit icon') }}									
            </div>
        </div>
    </div>
{% endblock %}