<!DOCTYPE html>
<html lang="en">

<head>

{% block meta_tags %}

{% endblock %}
        {% include 'partials/bootstrapmade.com/_dewi_head.html' %}
	<title>{% block title %}{{config.APP_NAME}}{% endblock %}</title>
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {# block custom_head_tags #}{# endblock #}


</head>

<body>

        {# include 'partials/_flashes.html' #}
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}
		
        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}

        {# include 'partials/_footer.html' #}
        {# When extended, the content block contains the footer #}
        {% block footer_content %}
        {% endblock %}
    </body>

</html>