{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Frontend Settings Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add or Edit Pages', 'page.pages',
                                    description='Add or edit or view webpages', icon='desktop icon') }}
                {{ dashboard_option('Add or Edit Sections', 'section.sections',
                                    description='Add or edit or view frontpage sections', icon='columns icon') }}
                {{ dashboard_option('Add or Edit Section Contents', 'section.contents',
                                    description='Add or edit or view section contents', icon='pencil alternate icon') }}
                {{ dashboard_option('Add or Edit Details of Organization', 'organisation.orgs',
                                    description='Add or edit details of your organization', icon='building outline icon') }}
                {{ dashboard_option('Add or Delete Logo', 'organisation.logos',
                                    description='Add or edit details of your logos', icon='image outline icon') }}																	
            </div>
        </div>
    </div>
{% endblock %}