{% extends 'layouts/base.html' %}




{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui two column stackable grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Add details of your previous jobs or your current job. 
            </h2>

        </div>
		{% for a in opportunities_listed %}
		  <div class="column">
		  <div class="ui card">
		  <div class="content">
			<i class="right floated like icon"></i>
			<i class="right floated star icon"></i>
			<div class="header">{{a.title}}</div>
			<div class="description">
			  <p></p>
			</div>
		  </div>
		  <div class="extra content">
			<span class="left floated like">
			  <i class="like icon"></i>
			  Like
			</span>
			<span class="right floated star">
			  <i class="star icon"></i>
			  Favorite
			</span>
		  </div>
		</div>
		  </div>
		  {% endfor %}
		  

    </div>

{% endblock %}
