{% extends 'layouts/base.html' %}

{% block content %}

        <div class="ui container">
            <a class="ui basic compact button" href="{{ url_for('admin.event_dashboard') }}">
                <i class="caret left icon"></i>
                Back to Event dashboard
            </a>  
 	
		<a class="ui right floated green button" href="{{ url_for('event.add_event') }}">
                <i class="caret right icon"></i>
                Add New Event
            </a> 
            <h2 class="ui header">
               Manage Events Added 
                <div class="sub header">
                    View and manage events shown on the front landing page.
                </div>
            </h2>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Title</th>
                        <th>Description</th>
                        <th>Banner</th>
                        <th>Banner Displayed</th>
						<th>Video</th>
                        <th>Start Time</th>
						<th>End Time</th>
						<th>Login Required</th>
                        <th class="sorted ascending">Created At</th>
                        <th>Last Update</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events.items | sort(attribute='created_at') %}
                        <tr>
                            <td>{{ event.name }}...</td>
                            <td>{{ event.title }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.banner }}</td>
                            <td>{{ event.banner_displayed }}</td>
                            <td>{{ event.video }}</td>
                            <td>{{ event.start_time }}</td>
                            <td>{{ event.end_time }}</td>
                            <td>{{ event.login_required }}</td>
                            <td>{{ event.created_at }}</td>
                            <td>{{ event.updated_at }}</td>
                            <td>
                                <a class="ui blue left floated button" style="margin-top: 1px" href="{{ url_for('event.edit_event', event_id=event.id) }}">Edit</a>							
							</td>
                            <td>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="/event/{{event.id}}/_delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in events.iter_pages() %}
                        {% if page %}
                            {% if page != events.page %}
                                <a class="item" href="{{ url_for('event.events', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>



        <form method="POST" action="{{ url_for('event.delete_event', event_id=0) }}" id="delete-event-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteEvent(event_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this event",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-event-form");
                        form.attr('action', "{{ url_for('event.delete_event', event_id=0) }}".replace('0',event_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
