{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
			<h2 class="ui center aligned icon header">
			  <i class="settings icon"></i>
			 Event Programmes Management Dashboard
			  <div class="content">
				
				<div class="sub header">Click on these tabs to add or edit sections added to the front landing page website.</div>
			  </div>
			</h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Add new event', 'event.add_event',
                                    description='Click to add a new event', icon='bars icon') }}	
                {{ dashboard_option('Manage events', 'event.events',
                                    description='View and manage existing events', icon='edit icon') }}	
                {{ dashboard_option('Add new programme', 'programme.add_programme',
                                    description='Click to add a new programme of events', icon='bars icon') }}	
                {{ dashboard_option('Manage programme of events', 'programme.programmes',
                                    description='View and manage existing event programmes', icon='edit icon') }}	
                {{ dashboard_option('Add or delete background banner', 'programme.banners',
                                    description='Add or edit background banner image', icon='image outline icon') }}																	
									
            </div>
        </div>
    </div>
{% endblock %}